# ZSH
zsh/.z
zsh/.zcompdump*
zsh/.zsh_history
zsh/.zsh_sessions

# Private environment files (contains sensitive tokens/keys)
zsh/.zshenv.private
.env.private
**/.env.private

# Emacs

## Autostave files
*/**/*#*
*#*

## Swap files
*/**/*~
*~


## Downloads
emacs/elpa
emacs/emojis
emacs/transient

.DS_Store
**/.DS_Store